body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ttile{
	margin-top: 20px;
}
.subtitle{
	margin-bottom: 20px;
}
